<a href="https://colab.research.google.com/github/Dante1902/Tort-Al/blob/main/%D0%A2%D0%B8%D1%82%D0%B0%D0%BD%D0%B8%D0%BA(%D0%B2%D1%8B%D0%B6%D0%B8%D0%B2%D1%88%D0%B8%D0%B9).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Выжившие на Титанике. Модель классификации
с помощью Метода опорных векторов

In [2]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree

pd.options.mode.chained_assignment = None

data = pd.read_csv('titanic.csv')
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
columns_target = ['Survived'] #целевая колонка
columns_train = ['Pclass', 'Sex', 'Age', 'Fare']

In [ ]:
X = data[columns_train]
Y = data[columns_target]

In [3]:
clf = tree.DecisionTreeClassifier(max_depth=5, random_state=21)

In [ ]:
clf.fit(X_train, Y_train)

In [ ]:
X['Sex'].isnull().sum()

0

In [ ]:
X['Pclass'].isnull().sum()

0

In [ ]:
X['Fare'].isnull().sum()

0

In [ ]:
X['Age'].isnull().sum()

177

In [ ]:
X['Age'] = X['Age'].fillna(X['Age'].mean())

<ipython-input-13-b8d5687f78b9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Age'] = X['Age'].fillna(X['Age'].mean())

In [ ]:
X['Age'].isnull().sum()

0

In [ ]:
dict={'male':0, 'female':1}
X['Sex'] = X['Sex'].apply(lambda x:dict[x])

<ipython-input-15-65e9df62e655>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Sex'] = X['Sex'].apply(lambda x:dict[x])

In [ ]:
X['Sex']

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    1
889    0
890    0
Name: Sex, Length: 891, dtype: int64

In [ ]:
X

     Pclass  Sex        Age     Fare
0         3    0  22.000000   7.2500
1         1    1  38.000000  71.2833
2         3    1  26.000000   7.9250
3         1    1  35.000000  53.1000
4         3    0  35.000000   8.0500
..      ...  ...        ...      ...
886       2    0  27.000000  13.0000
887       1    1  19.000000  30.0000
888       3    1  29.699118  23.4500
889       1    0  26.000000  30.0000
890       3    0  32.000000   7.7500

[891 rows x 4 columns]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [ ]:
from sklearn import svm
predmodel = svm.LinearSVC()


predmodel.fit(X_train,Y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.10/dist-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

LinearSVC()

In [ ]:
predmodel.predict(X_test[0:10])

array([0, 0, 0, 1, 1, 1, 0, 0, 1, 1])

In [ ]:
predmodel.score(X_test,Y_test)

0.752542372881356

In [ ]:
X['Age'] = X['Age'].fillna(X['Age'].median())

<ipython-input-23-c1ba3c998847>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Age'] = X['Age'].fillna(X['Age'].median())